[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
requests = "*"
psutil = "*"
behave = "*"
fbs = "*"
black = "*"
PyQt5 = "==5.9.2"
SIP = "*"
pyinstaller = "==3.4"
docker = "==4.0.2"

[requires]
python_version = "3.6"

[pipenv]
allow_prereleases = true
