* {
    font-family: "Helvetica Neue";
}

QDialog#question {
    border: none;
    background-color: #F4F8F9;
}

QDialog#question QPushButton {
    border: none;
    min-height: 22px;
    min-width: 65px;
    color: #FFFFFF;
    font-size: 10px;
}

QDialog#question QPushButton#cancel {
    background-color: #B9CCDD;
}

QDialog#question QPushButton#confirm {
    background-color: #0069D9;
}
